.page__main {
  padding: 0 70px;
}

.main__header {
  background-color: #465DFF;
}

@media screen and (max-width: 768px) {
  .page__main {
    padding: 0 50px;
  }
  
}

@media screen and (max-width: 400px) {
  .page__main {
    padding: 0 10px;
  }
}
